name: CI
on: [push]
jobs:
  build:
    name: Building Firmware
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      #- uses: borales/actions-yarn@v3.0.0
      #  with:
      #    cmd: install --immutable #Install dependencies 
      #- uses: borales/actions-yarn@v3.0.0
      #  with:
      #    cmd: start #Building
      - name: copying files 
        run: mkdir artifacts && cp public/views artifacts -r && cp public/sass artifacts #&& cp public/build artifacts -r
      - name: Ziiiippppp
        uses: actions/upload-artifact@v2
        with:
          name: public
          path: artifacts
      - name: upload linux artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: public.zip
          asset_name: public.zip
          asset_content_type: application/gzip
      
