name: CI
on: [push]
jobs:
  build:
    name: Building Firmware
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: borales/actions-yarn@v3.0.0
        with:
          cmd: install --immutable #Install dependencies 
      - uses: borales/actions-yarn@v3.0.0
        with:
          cmd: start #Building
      - name: list dir
      - run: ls -al
